<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUSTIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/login.css') }}">
    <link rel="stylesheet" href="cssfiles/login.css">
</head>
<body>
    <div class="animation-area">
		<ul class="box-area"><li></li><li></li><li></li><li></li><li></li><li></li></ul>
    <div class="split left">
        <div class="centered">
            <a href="index.html"> <h1>DUSTIN</h1></a>
            <p>We Bring People Closer.</p>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <button style="width: 280px;" class="signup">Sign Up with Google</button>
            <div class="seperator">
                <div class="line-hr"><hr></div> <p>or</p>
                <div class="line-hr"><hr></div>
            </div>
            <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">                 
                </div><br>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div><br>
                <a href="interests.html"> <button type="button" class="Login btn btn-light btn-outline">Login</button></a>
            </form>    
        </div>
    </div>
    </div>
</body>
</html>