<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUSTIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/css/profile.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="cssfiles/profile.css">
</head>
<body>
    <div class="animation-area">
        <ul class="box-area"><li></li><li></li><li></li><li></li><li></li><li></li></ul>
    

    <a href="/"> <h3 class="conversation-h3">DUSTIN</h3></a>
    <div class="profile">
        <div class="imgdiv-1">
            <img class="img-1" src="https://i.picsum.photos/id/943/536/354.jpg?hmac=q6v_FP9uVbhsSsBKgCVwrljQxupJUMCZVHaHE0O9RsQ" alt="">
        </div>
        <div class="info-profile">
            <p>Name</p>
            <p>Email ID</p>
            <p>Bio</p>
            <p>Attributes</p>
        </div>
    </div>
</body>