<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/css/verification.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="cssfiles/verification.css">
    <title>Document</title>
</head>
<body>
    
    <h3>DUSTIN</h3>
    <div class="verify">
        <span class="email">Email Verification</span>
        <hr>
        <div class="ver-inner">
            <p>Please enter the verification code sent to your email address - a****@****.com</p>
            <input  name="" id=""  placeholder="Enter Code">
            <a href=""> Didn't recieve a verification code</a>
            <a href="interests.html"> <button class="submit btn btn-light btn-outline">Submit</button></a>
        </div>
    </div>
</body>
</html>